.battle-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: gold;
  gap: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow: hidden;

  &__result {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }

  &__win,
  &__lose {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    gap: 15px;
  }

  &__win {
    background-color: darkcyan;
  }

  &__lose {
    background-color: coral;
  }

  &__name {
    font-size: 18px;
  }
}
